<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="RealEstateModel"
			connectionString="data source=DESKTOP-QCIE0AP\MASTER;initial catalog=RealEstates;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework"
			providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>
